<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Library
  body
    h1 Libros Online
    ul
      li
        a(href="Inicio")|Inicio
      li
        a(href="Genero")|Genero
      li
        a(href="View")|View
      li
        a(href="Help")|Help
      li
        a(href="QuienesSomos")|Quines Somos!
    h2 Destacados
    ul
      li
        a(href="book1")|Libro 1
      li
        a(href="book2")|Libro 2
      li
        a(href="book3")|Libro 3
      li
        a(href="book4")| Libro 4
    |
    |
    img(src="../src/elmeca.jpg", alt="libro 1",title="El mecanismo del miedo")
    |
    |
    a(href="elmecanismo.html")| El mecanismo del miedo
    |
    |
    img(src="../src/sueños.jpg", alt="libro 2",title="La tienda de los sueños")
    |
    |
    a(href="elmecanismo.html")|La tienda de los sueños
         

